#root {
  max-width: 90vw;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

html,
body {
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4 {
  text-align: left;
}

figure {
  text-align: center;
}

.std-img {
  width: 200px;
  max-width: 90vw;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#phong-diagram {
  width: 400px;
  max-width: 90vw;
  height: auto;
}

figcaption {
  font-size: 14px;
  max-width: 300px;
  margin: 0 auto;
}

.variable-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#phong-components {
  margin-left: 10px;
  text-align: center;
}

.p {
  color: #888;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 36em) {
  #root {
    width: 90vw;
  }

  .std-img {
    width: 250px;
    height: 250px;
  }

  #phong-diagram {
    width: 500px;
    max-width: 90vw;
    height: auto;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
  #root {
    width: 600px;
  }

  .std-img {
    width: 250px;
    height: 250px;
  }

  .variable-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  #phong-diagram {
    width: 650px;
    max-width: 90vw;
    height: auto;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
  #root {
    width: 880px;
  }

  .std-img {
    width: 300px;
    height: 300px;
  }

  .variable-wrapper {
    text-align: center;
    display: flex;
    flex-direction: row;
  }

  #phong-diagram {
    width: 750px;
    max-width: 90vw;
    height: auto;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
  #root {
    width: 880px;
  }

  .std-img {
    width: 300px;
    height: 300px;
  }

  .variable-wrapper {
    text-align: center;
    display: flex;
    flex-direction: row;
  }
}
